:root {
  --element-config-bg: #181818;
  --element-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

body {
  display: flex;
  font-family: "Roboto";
}

.builder__config {
  display: flex;
  flex-direction: column;
  width: 300px;
  box-shadow: var(--element-shadow);
}

.builder__search {
  box-shadow: var(--element-shadow);
}

.builder__search-input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5em 0.8em;
}

.builder__elements {
  padding: 0.4rem;
}

.builder__element {
  width: 100%;
  padding: 0.4rem;
}

.builder__element-btn {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: var(--element-config-bg);
  box-shadow: var(--element-shadow);
  border-radius: 2px;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;

  transition: transform 500ms ease;
}

.builder__element-btn:hover {
  transform: scale(0.9);
}

#preview {
  flex-grow: 1;
}

h1,
p,
#preview button,
a,
img {
  display: block;
  margin-bottom: 25px;
}
